<html>
    <head>
        <title>Proyecto</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="stylesheets/main.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"  crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"  crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>

        <script src="javascripts/jquery-ui/external/jquery/jquery.js" type="text/javascript"></script>
        <script>
            $(document).ready(function () {
                ocultar();
            });
            function ocultar() {
                var x = document.getElementById('editar');
                x.style.display = 'none';
            }
            function editar() {
                var x = document.getElementById('editar');
                x.style.display = '';

                $('#nombre').val('<%=nombre %>');
                $('#apellido').val('<%=apellido %>');
                $('#email').val('<%=correo %>');
            }
            ;

        </script>
    </head>
    <body >

        <!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/" class="logo"><strong><i class="fas fa-home fa-2x" style="color: #17d66b">Proyecto</i>  </strong> </a>
                <nav id="nav">
                    <a style="color: #17d66b" href="/">Principal</a>
                    <a style="color: #17d66b" href="/cerrar">Cerrar session</a>
                </nav>
                <a style="color: #17d66b" href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>

        <!-- Banner -->
        <section id="banner">

            <div class="inner">

                <div class="container" style="margin: -100px auto">

                    <div class="card">
                        <div class="card-body">

                            <h2 style="color: black"><%=nombre%>  <%=apellido%></h2>

                            <div >
                                <div id="editar">
                                    <form role="form" data-toggle="validator" id="crearNoticia" class="needs-validation" novalidate method="post" action="/editarUsuario">
                                        <div class="form-group row">
                                            <label for="nombre" class="col-sm-2 col-form-label"> Nombre </label>
                                            <i class="fa fa-user bigicon"></i>
                                            <div class="col-md-3 mb-3" >

                                                <input type="text" id='nombre' name='nombre' placeholder="Nombre" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
                                            <i class="fa fa-user bigicon"></i>
                                            <div class="col-md-3 mb-3">
                                                <input type="text" id='apellido' name='apellido' placeholder="Apellido" required>
                                            </div>


                                        </div>
                                        <div class="form-group row">

                                            <label for="email" class="col-sm-2 col-form-label">Correo</label>
                                            <i class="fas fa-envelope"></i>
                                            <div class="col-md-3 mb-3">
                                                <input type="email" id='email' name='email' placeholder="Correo" required>
                                            </div>


                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href = '';" >Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Editar</button>


                                        </div>
                                    </form>
                                    <form method="post" action="/eliminarCuenta " >
                                        <button type="submit" class="btn btn-primary">Eliminar</button>
                                    </form>
                                </div>
                                <table >
                                    <tr style="border-collapse:collapse; border: none;">
                                        <td  ><img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" width='200' height='200'></td>
                                        <td style="padding-left: 0 ;">
                                            <i class="fa fa-user bigicon"></i><font size="5px"><b>Nombre:</b> <%=nombre%></font><br>
                                            <i class="fa fa-user bigicon"></i><font size="5px"><b>Apellido:</b> <%=apellido%></font><br>
                                            <i class="fas fa-envelope"></i><font size="5px"><b>Correo:</b> <%=correo%></font><br><br>
                                            <button type="button" onclick="editar()">Editar Perfil</button>
                                        </td>

                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="three" class="wrapper align-center">
            <div class="inner" align="center">
                <div 
                    
                    <article>
                        <div >
                            <center>
                            <img src="images/logo.png"  style="width: 20%"  />
                            </center>
                        </div>
                    </article>   
                        
                    
                   


                </div>
            </div>
        </section>
        
        <script src="javascripts/jquery.min.js"></script>
        <script src="javascripts/skel.min.js"></script>
        <script src="javascripts/util.js"></script>
        <script src="javascripts/main.js"></script>


    </body>
</html>


